@font-face {
	font-family: "font-1";
	src: url(../assets/fonts/JosefinSans-Medium.ttf);
}

$font-1: "font-1", sans-serif;

$color-1: #4099b2;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-repeat: no-repeat;
	background: #4da0b0; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #d39d38, #4da0b0); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#4da0b0,
		#d39d38
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	// background: $white;
	font-family: $font-1;
	// @include verticalCenter;
}
li {
	list-style-type: none;
}
